parameters:
    level: 6
    paths:
        - src
    excludePaths:
        # We're not really testing these 2 barely supported adapters
        - src/Adapter/Elasticsearch
        - src/Adapter/MongoDB

        # Fixture is messy
        - tests/Fixtures

    checkGenericClassInNonGenericObjectType: false
