parameters:
    level: 7
    paths:
        - src
    excludePaths:
        # We're not really testing these 2 barely supported adapters
        - src/Adapter/Elasticsearch
        - src/Adapter/MongoDB

