<!doctype html>
<html lang="en">
<head>
    <title>Testpage</title>
</head>
<body>
<h2>Table 1</h2>
<div id="table1"></div>
<h2>Table 2</h2>
<div id="table2"></div>

<script src="bundles/datatables/js/datatables.js"></script>
<script>
$(function() {
    $('#table1').initDataTables({{ datatable_settings(datatable1) }}, {
        searching: true,
        dom:'<"html5buttons"B>lTfgitp',
        buttons: [
            'copy',
            'csv',
            { extend: 'excel', title: 'domains'},
            { extend: 'pdf', title: 'domains'},
            { extend: 'print' }
        ]
    });

    $('#table2').initDataTables({{ datatable_settings(datatable2) }}, {
        searching: true,
        dom:'<"html5buttons"B>lTfgitp',
        buttons: [
            'copy',
            'csv',
            { extend: 'excel', title: 'domains'},
            { extend: 'pdf', title: 'domains'},
            { extend: 'print' }
        ]
    });
});
</script>
</body>
</html>