<label>
    <input
            data-search-column-index="{{ column.index }}"
            {% if column.filter.placeholder != null %}placeholder="{{ column.filter.placeholder|trans }}"{% endif %}
    >
</label>